/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/raleway-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/raleway-v22-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-light: #eee;
  --main-dark: #2B101F;

  --c1: #FA6855;
  --c2: #EC5F52;
  --c3: #DE554F;
  --c4: #D04D4C;
  --c5: #C24448;
  --c6: #B43945;
  --c7: #A63142;
  --c8: #98293F;
  --c9: #8A213C;
  --c10: #7C1939;
  --c11: #6E1136;

  --c1-border: var(--c5);
  --c2-border: var(--c6);
  --c3-border: var(--c7);
  --c4-border: var(--c8);
  --c5-border: var(--c9);
  --c6-border: var(--c10);
  --c7-border: var(--c11);

  --main-bg: var(--main-light);
  --main-fg: var(--main-dark);
  --link-fg: var(--c1);
  --link-fg-hover: var(--c5);
}


#theme:checked + .wrapper {
  --main-bg: var(--main-dark);
  --main-fg: var(--main-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 small {
  font-size: 50%;
}

a {
  color: var(--link-fg);
}

a:hover {
  color: var(--link-fg-hover);
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

body .wrapper {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
  color: var(--main-fg);
  overflow-x: hidden;
  transition: ease-in-out all 0.5s;
}


#theme:checked + .wrapper .icon-contrast {
  transform: rotate(900deg);
  filter: invert(1)
}

.icon-contrast {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: ease-in-out all 0.5s;
}

h1 {
  position: relative;
}

/* Chart Style */

.chart {
  list-style: none;
  padding: 0;
  position: relative;
}

.chart li {
  /* background: var(--c1); */
  font-size: 14px;
  height: 54px;
  padding: 0;
  border-radius: 0 10px 10px 0;
  margin: 0;
  white-space: nowrap;
  box-shadow: 0 0 #ed6051;
  transition: margin 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.chart li .day {
  text-align: right;
  position: absolute;
  right: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.chart li .total {
  margin: 0 1em;
  width: auto;
  height: 20px;
  line-height: 19px;
  color: var(--c5);
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 0 1em;
  min-width: 52px;
  text-align: center;
  z-index: 1;
}

.chart li:hover {
  margin-left: 1em;
}

.chart li::before {
  content: "";
  background: inherit;
  height: 54px;
  min-width: inherit;
  position: absolute;
  left: 0;
  transition: padding 0.2s ease-in-out;
  border-radius: 0 10px 10px 0;
  box-sizing: content-box;
}

.chart li:hover::before {
  padding-left: 1em;
}


.chart li:nth-child(1)::before { background: var(--c1); }
.chart li:nth-child(2)::before { background: var(--c2); }
.chart li:nth-child(3)::before {background: var(--c3);}
.chart li:nth-child(4)::before { background: var(--c4); }
.chart li:nth-child(5)::before { background: var(--c5); }
.chart li:nth-child(6)::before { background: var(--c6); }
.chart li:nth-child(7)::before { background: var(--c7); }

/*--------------------
Leaderboard
--------------------*/

.leaderboard {
  height: 326px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  transition: ease-in-out filter 0.5s;
  margin-bottom: 2.5rem;
}

.leaderboard h3 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
  margin: 0;
}

.leaderboard h3 span {
  width: 25px;
  height: 26px;
  position: relative;
  display: inline-block;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
  margin-bottom: -5px;
}

.leaderboard ol {
  counter-reset: leaderboard;
  margin: 0;
  list-style: none;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  margin: 0;
  max-height: 54px;
}

.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 19px;
  color: var(--c5);
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li a {
  text-decoration: none;
}

.leaderboard ol li a > span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
  box-sizing: border-box;
}

.leaderboard ol li a > span span {
  padding-right: 2em;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.leaderboard ol li a > span::before, .leaderboard ol li a > span::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -13px;
  border-top: 10px solid var(--c1-border);
  border-left: 13px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.leaderboard ol li a > span::after {
  left: auto;
  right: -13px;
  border-left: none;
  border-right: 13px solid transparent;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: white;
  font-size: smaller;
}

.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.leaderboard ol li:nth-child(1) { background: var(--c1); }
.leaderboard ol li:nth-child(1)::after { background: var(--c1); }

.leaderboard ol li:nth-child(2) { background: var(--c2); }
.leaderboard ol li:nth-child(2)::after { background: var(--c2); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08); }
.leaderboard ol li:nth-child(2) a > span::before, .leaderboard ol li:nth-child(2) a > span::after { border-top: 6px solid var(--c2-border); bottom: -7px; }

.leaderboard ol li:nth-child(3) { background: var(--c3); }
.leaderboard ol li:nth-child(3)::after { background: var(--c3); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11); }
.leaderboard ol li:nth-child(3) a > span::before, .leaderboard ol li:nth-child(3) a > span::after { border-top: 2px solid var(--c3-border); bottom: -3px; }

.leaderboard ol li:nth-child(4) { background: var(--c4); }
.leaderboard ol li:nth-child(4)::after { background: var(--c4); box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }
.leaderboard ol li:nth-child(4) a > span::before, .leaderboard ol li:nth-child(4) a > span::after { top: -7px; bottom: auto; border-top: none; border-bottom: 6px solid var(--c4-border); }

.leaderboard ol li:nth-child(5) { background: var(--c5); border-radius: 0 0 10px 10px; }
.leaderboard ol li:nth-child(5)::after { background: var(--c5); box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12); border-radius: 0 0 10px 10px; }
.leaderboard ol li:nth-child(5) a > span::before, .leaderboard ol li:nth-child(5) a > span::after {top: -9px;bottom: auto;border-top: none;border-bottom: 8px solid var(--c5-border);}

.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}

.leaderboard ol li:hover::after {
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ol li:hover a > span::before, .leaderboard ol li:hover a > span::after {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}


.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}

/************ Tooltip styling ************/
[data-tooltip=""]::before,
[data-tooltip=""]::after {
  opacity: 0 !important;
}

[data-tooltip] {
  position: relative;
  pointer-events: visible;
}

[data-tooltip]::before, [data-tooltip]::after {
  font-size: 0.8em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  user-select: none;
  visibility: hidden;
  transition: opacity 180ms ease-in, visibility 200ms ease-in;
  z-index: 1000;
}

[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

[data-tooltip]::before {
  content: "";
  border: 5px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% - 5px);
  border-top-color: rgba(97, 97, 97, 0.95);
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 10em;
  white-space: pre;
  max-width: 90em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background: rgba(97, 97, 97, 0.95);
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: 0 12px 22px -10px rgba(0, 0, 0, 0.25);
  left: 50%;
  bottom: calc(100% + 5px);
  transform: translateX(-50%);
}

[data-tooltip-align="left"]::after {
  text-align: left;
}

[data-tooltip-align="right"]::after {
  text-align: right;
}
